.carouselImage
{
    height: 500px;
    width: 1200px;
    object-fit: cover;
}

.cardImage
{
    height: 300px;
    width: 200px;
    object-fit: cover;
}
body
{
    background-color: #9994a6;
}
#timer {
    font-size: 2em;
    text-align: center;
}
.card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card.hovered {
    transform: scale(1.05);
  }
  